@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.img1 {
  box-shadow: 0 0 15px rgb(131, 237, 237); 
  border-radius: 5px;
  width: 100%;
  text-align: center;  
}

.grid-container > * {
  /* box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); */
  border-radius: 4px;
  /* padding: 0px; */
  text-align: center;
}

.header {
  grid-area: header;
  background-color: rgb(191,128,255);
  /* background-color: plum; */
}

.navbar {
  grid-area: navbar;
  background-color: mediumturquoise;
}

.sidebar {
  grid-area: sidebar;
  background-color: mediumturquoise;
}

.main {
  grid-area: main;
  background-color: honeydew;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: #8c96a0;
}

.grid-container {
  display: grid;
  gap: 1px;
  grid-template:
    "header"  350px
    "navbar"  200px
    "main"    auto
    "sidebar" 350px
    "footer"  100px;
}

@media (min-width: 600px) {
  .grid-container {
    /* grid-template-columns: 200px auto;
    grid-template-rows: 100px 50px auto 100px;
    grid-template-areas: 
    "header  header"
    "navbar  navbar"
    "sidebar main"
    "footer  footer"; */

    grid-template:
      "header  header" 250px
      "navbar  navbar" 200px
      "sidebar main"   auto
      "footer  footer" 80px /
      200px    auto;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "header  header header"  200px
      "navbar  main   sidebar" auto
      "footer  footer footer"  80px /
      265px    auto   265px;      
  } 
  .img1 {
    width: 80%;
  } 
  }
  